---
import Layout from '@layouts/Layout.astro';
import { type CollectionEntry, getCollection, getEntry, render } from 'astro:content'

export async function getStaticPaths({ paginate }) {
  const allBlog = await getCollection('blog')
  return paginate(allBlog, { pageSize: 100 });
}

const { page } = Astro.props;
---

<Layout>
  <div class="pages__container">
    <div>
      <div>{page.size} / {page.total}</div>
      <div>{page.currentPage} / {page.lastPage}</div>
    </div>
    <div class="pages">
      <ul>
        {page.data.map(blog => (
          <li><a href=`${blog.id}`>{blog.data.title}</a></li>
        ))}
      </ul>
    </div>
    <div class="pagination">
      { page.url.first ? <div class="first"><a href=`${page.url.first}`> first </a></div> : <div class="first--disabled"> first </div> }
      { page.url.prev ? <div class="prev"><a href=`${page.url.prev}`> prev </a></div> : <div class="prev--disabled"> prev </div>}
      { page.url.current ? <div class="current"><a href=`${page.url.current}`> {page.currentPage} </a></div> : <div class="current--disabled"> no current </div>}
      { page.url.next ? <div class="next"><a href=`${page.url.next}`> next </a></div> : <div class="next--disabled"> next </div>}
      { page.url.last ? <div class="last"><a href=`${page.url.last}`> last </a></div> : <div class="last--disabled"> last </div>}
    </div>
  </div>

</Layout>

<style>
  .pages__container {
    padding: 40px 40px;
  }

  .pages ul {
    display: grid;
    justify-items: start;
  }

  @media screen and (width >= 768px) {

    .pages {
      display: grid;
      grid-template-columns: 2fr 8fr 2fr;
    }

    .pages ul {
      grid-column: 2;
      grid-template-columns: repeat(2, 1fr);
    }

  }

  .pages li {
    margin: 0.25rem 1rem;
  }

  .pages a {
    text-decoration: none;
  }

  .pagination {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 40px;
    justify-items: center;
  }

  .pagination > * {
    border: 0.125rem solid;
    padding: 0 1rem;
  }

  .pagination a {
    text-decoration: none;
  }

  .pagination .first--disabled, .prev--disabled, .next--disabled, .last--disabled {
    color: hsl(from var(--on-primary) h s 40);
  }


</style>
