---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

const allPosts = await Astro.glob('../posts/*.md');

export async function getStaticPaths() {

  return [
    { params: { tag: "astro" }, props: {posts: allPosts}},
    { params: { tag: "成功" }, props: {posts: allPosts}},
    { params: { tag: "コミュニティ" }, props: {posts: allPosts}},
    { params: { tag: "ブログ" }, props: {posts: allPosts}},
    { params: { tag: "後退" }, props: {posts: allPosts}},
    { params: { tag: "公開学習" }, props: {posts: allPosts}},
  ]
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = allPosts.filter((post) => post.frontmatter.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>{tag}のタグが付いた記事</p>
  <ul>
    {tag}
    {filteredPosts.map((post) => <BlogPost usr={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>
