---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'

const pageTitle = "about me"

const identity = {
  firstName: "sakakibara",
  country: "埼玉",
  occupation: "エンジニア",
  hobbies: ["読書", "散歩", "プログラミング"],
}

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "ドキュメントの作成", "python"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <body>
    <h2>... 私のブログについて！</h2>
    <p>このサイトは自分の学習の記録とポートフォリオのために作成されました!</p>
    <p>このサイトは逐次更新されていきます。定期的にチェックしてくださると幸いです！</p>
    <p>以下はプロフィールです。</p>
    <ul>
      <li>名前は{identity.firstName}です。</li>
      <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li>
      {identity.hobbies.length >= 2 &&
        <li>趣味は{identity.hobbies[0]}と{identity.hobbies[1]}と{identity.hobbies[2]}です。</li>
      }
    </ul>
    <p>私のスキルは以下の通りです。</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </body>
</BaseLayout>

<!-- <html lang="en"> -->
<!-- 	<head> -->
<!-- 		<meta charset="utf-8" /> -->
<!-- 		<link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
<!-- 		<meta name="viewport" content="width=device-width" /> -->
<!-- 		<meta name="generator" content={Astro.generator} /> -->
<!-- 		<title>{pageTitle}</title> -->
<!-- 	</head> -->
<!--   <Navigation /> -->
<!--   <body> -->
<!--     <h2>... 私のブログについて！</h2> -->
<!--     <p>このサイトは自分の学習の記録とポートフォリオのために作成されました!</p> -->
<!--     <p>このサイトは逐次更新されていきます。定期的にチェックしてくださると幸いです！</p> -->
<!--     <p>以下はプロフィールです。</p> -->
<!--     <ul> -->
<!--       <li>名前は{identity.firstName}です。</li> -->
<!--       <li>{identity.country}に住んでおり、{identity.occupation}として働いています。</li> -->
<!--       {identity.hobbies.length >= 2 && -->
<!--         <li>趣味は{identity.hobbies[0]}と{identity.hobbies[1]}と{identity.hobbies[2]}です。</li> -->
<!--       } -->
<!--     </ul> -->
<!--     <p>私のスキルは以下の通りです。</p> -->
<!--     <ul> -->
<!--       {skills.map((skill) => <li class="skill">{skill}</li>)} -->
<!--     </ul> -->
<!--   </body> -->
<!--   <Footer /> -->
<!-- </html> -->
<!---->

<style define:vars={{skillColor}}>
  .skill {
    color: var(--skillColor);
    font-weight: bold;
  }
</style>
